/* COLOR ICONOS */
.iconos-blancos{
  color: #ED8936;
  cursor: pointer;
}

.iconos-rojos{
  color: #dc1212;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* IMÁGENES SECCIÓN DE INICIO */
.imagen{
  background-repeat: no-repeat;
  background-size: contain;
}

.imagen-productos{
  background-image: url("../src/images/productos.svg");
}

.imagen-proveedores{
  background-image: url("../src/images/proveedores.svg");
}

.imagen-clientes{
  background-image: url("../src/images/clientes.svg");
}

.imagen-operaciones{
  background-image: url("../src/images/operaciones.svg");
}

.imagen-empleados{
  background-image: url("../src/images/empleados.svg");
}

.imagen-administrador{
  background-image: url("../src/images/administrador.svg");
}

/* IMÁGENES SECCIÓN DE ADMINISTRADOR */
.imagen-usuarios{
  background-image: url("../src/images/usuarios.svg");
}

.imagen-sucursales{
  background-image: url("../src/images/sucursales.svg");
}

.imagen-contabilidad{
  background-image: url("../src/images/contabilidad.svg");
}

.imagen-pedidos{
  background-image: url("../src/images/pedidos.svg");
}

.imagen-configuracion{
  background-image: url("../src/images/configuracion.svg");
}

.imagen-cupones{
  background-image: url("../src/images/cupones.svg");
}

