.imagen-productos{
  background-image: url("../src/images/productos.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(51, 50, 50);
}

.imagen-proveedores{
  background-image: url("../src/images/proveedores.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.imagen-clientes{
  background-image: url("../src/images/clientes.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.imagen-operaciones{
  background-image: url("../src/images/operaciones.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.imagen-empleados{
  background-image: url("../src/images/empleados.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.imagen-administrador{
  background-image: url("../src/images/administrador.svg");
  background-repeat: no-repeat;
  background-size: contain;
}